spring:
  datasource:
    url: jdbc:h2:mem:demo;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
      encoding: UTF-8

  h2:
    console:
      enabled: true
      path: /h2-console

  thymeleaf:
    cache: false

logging:
  level:
    org.springframework.jdbc.core: INFO
